/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.Header {
  text-align: center;
  color: orangered;

}

.crud {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table td {
  width: 200px;
  height: 30px;
  background-color: rgb(54, 135, 211);
  text-align: center;
  color: white
}

table td button {
  padding: 5px 10px;
  border-radius: 5%;
  cursor: pointer;
}

table td button.edit {
  border: 1px solid green;
  background-color: rgb(7, 168, 7);
  color: white
}

table td button.edit:hover {
  background-color: rgb(3, 71, 3);
}

table td button.delete {
  border: 1px solid red;
  background-color: red;
  color: white
}

table td button.delete:hover {
  background-color: rgb(92, 5, 5);
}
.addform{
  margin-bottom: 30px;
}
.addform input{
  width:230px;
  height:30px
}
.addform button {
  width:135px;
  color: white;
  height:35px;
  background-color:green ;
}
.addform button hover{
background-color: aquamarine  ;
}




